<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="recovery">
  <meta charset="UTF-8">
  <title> Change Password - App Ground Logistics - InnovaSoft </title>
  <body>
      <main>
          <header>

            <section class="order-form my-4 mx-4">
              <div class="container pt-4">
                  <div class="row">
                      <div class="col-12">

                        <div class="row mx-2">
            <div class="col-12 col-sm-6">
              <div class="caja">
                  <br> <br>
                  <h3> change password</h3>
              </div>


              <body>
                <div class="row 2"> </div>
                  <div class="row mt-3 mx-4">
                      <form [formGroup]="formularioChange" action="">
                          <fieldset>
                              <legend for="change password"> change password: </legend>
                                <input formControlName= "email" type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="input-padron" required
                                  placeholder="enter email">

                                  <input formControlName= "currentPassword" type="text" id="currentPassword" class="input-padron" required
                                  placeholder="enter current password">

                                  <input formControlName= "newPassword" type="text" id="newPassword" class="input-padron" required
                                  placeholder="enter new password">

                                  <input formControlName= "confirmPassword" type="text" id="confirmPassword" class="input-padron" required
                                  placeholder="enter confirm password">

                          </fieldset>

                        <div class="center">
                        <button (click)="ChangePassword()" class="btn waves-effect green lighten-2" type="submit" name="action">Change Password
                            <i class="material-icons right">send</i>
                          </button>
                        </div>
                      </form>

                  </div>
            </body>
            </div>
            </div>
      <header>
<main>
<body>
