<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Change Password </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="change-password.component.css">
</head>

<body>
    <section>
        <div class="form-container">
            <h1>Change Password </h1>
            <form action="#"> <br>
                <label>Email</label>
                <input type="email" placeholder="Enter your email register" required>
                <label>Identification</label>
                <input type="text" placeholder="Enter your identification register" readonly> <br>

                <label>Old Password</label>
                <input type="password" placeholder="Enter your Old Password" required> <br> <br>

                <label>New Password</label>
                <input type="password" placeholder="Enter your New Password" required>
                <label>Confirm Password</label>
                <input type="password" placeholder="Enter your Password" required>
                <input type="button" value="Submit">
            </form>
            <p>By clicking the Sign Up button, you agree to our <br> <br>
                <a href="#">Terms and coditions</a> and <a href="#">Policy Privacy</a>
            </p>
            <p class="para-2">Already have an account? <a routerLink="/security/login">Login here</a></p>
        </div>
    </section>
</body>

</html>
