<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Servicios - App Logistics - InnovaSoft </title>
        <link rel="stylesheet" href="/angular/FrontendAppLogistic/src/assets/css/reset.css">
        <link rel="stylesheet" href="/angular/FrontendAppLogistic/src/assets/css/style AppLogi.css">
    </head>
    <body>
        <header>
            <div class="caja"> 
            </div>
        </header>

        <main>
            <ul class="servicios">
                <li>
                    <h2> Transport </h2> 
                    <img src="./assets/images/coche.gif" alt="" width="200" height="200">
                    <p class="servicio-descripcion"> Servicio de Transporte a Sitio Predeterminado </p>
                    <p class="servicio-precio">USD$ 0.625 Mileage</p>
                     </li>
                <li> 
                    <h2> Mobility </h2> 
                    <img src="./assets/images/alerta.gif" alt="" width="200" height="200">
                    <p class="servicio-descripcion"> Servicio Transporte con posible caso de COVID</p>
                    <p class="servicio-precio">USD$ 100 - +Covid <br> USD$ 65 - Covid -</p>
                    
                    </li>
                <li>
                    <h2> Expenses </h2> 
                    <img src="./assets/images/bolsa-de-dinero.gif" alt="" width="200" height="200">
                    <p class="servicio-descripcion">Paquete Completo de Otros Servicios </p>
                    <p class="servicio-precio">USD$ Per demand</p>
                    </li>
            </ul>
        </main>
    </body>
</html>
