<!DOCTYPE html>

<html lang="en">

    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> Web: App Logistics - InnovaSoft </title>
        <link rel="stylesheet" href="/angular/FrontendAppLogistic/src/assets/css/reset.css">
        <link rel="stylesheet" href="/angular/FrontendAppLogistic/src/assets/css/style AppLogi.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        
    </head>
    
    <body>
            <header>
                <div class="caja"> 
                </div>
            </header>

        <img class="banner" src="./assets/images/pexels-rois-martin-6263774.jpg" height="500">

        <main>
            <section class="principal">     <!-- Contenido de la section div -->

                <h2 class="titulo-principal">Sobre nuestra App Logistics - InnovaSoft </h2>

                <img class="faro" src="./assets/images/pexels-supreet-79930502.jpg" alt="faro">

                <p> Ubicados en el corazón de la ciudad de Anchorage - Alaska - EEUU, nuestra <strong>App Logistics - InnovaSoft</strong> trae para el mercado, la mejor asistencia para sus tripulantes, navegantes y personal marítimo. </p>
                <p> Fundada en 2020, <strong>App Logistics - InnovaSoft</strong> ya se destaca en la ciudad, cuidando de nuestros usuarios y a la conquista de nuevos clientes. </p>

                <p id="mision"><em>Nuestra misión es: <strong>"Proporcionar asistencia rápidamente a nuestros clientes"</strong></em>. </p>

                <p> Ofrecemos profesionales experimentados que están capacitados para acompañar y orientar al personal, ofreciendo a nuestros clientes un servicio eficiente. La cooperación es excelencia y agilidad, garantizando calidad y satisfacción por parte de nuestros clientes. </p>

            </section>

            <section class="mapa">
                <h3 class="titulo-principal"> Nuestra ubicación </h3>
                <p> Nuestro centro de operación y oficinas están ubicadas en el corazón de la ciudad de Anchorage - Alaska - EEUU </p>
                <div class="mapa-contenido">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3841.8894917687635!2d-149.9066165!3d61.2190879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3d1981a095a5f54!2zNjHCsDEzJzA5LjYiTiAxNDnCsDU0JzE2LjkiVw!5e0!3m2!1ses-419!2sco!4v1667758254246!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </section>

            <section class="diferenciales">     <!-- Contenido de la section div -->

                <h3 class="titulo-principal"> Diferenciales </h3>
                
                <div class="contenido-diferenciales">
                    <ul class="lista-diferenciales">
                        <li class="items"> Atención personalizada a los clientes </li>
                        <li class="items"> Profesionales calificados </li>
                        <li class="items"> Puntualidad </li>
                        <li class="items"> Vehiculos diferenciados </li>
                        <li class="items"> Localización </li>
                        <li class="items"> Apoyo Incondicional </li>
                    </ul><img src="./assets/images/helping-g9e4cadcaf_1920.jpg" class="imagen-diferenciales">
                    <br>
                </div>
                
                <div class="video">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, distinctio alias? Optio dolorum quam neque laboriosam non aliquid quibusdam, minus deleniti harum possimus, aspernatur facere aut omnis officiis, repellat autem?</p>
                    
                    <iframe width="100%" height="415" src="https://www.youtube.com/embed/JOkPi1nbtX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </section>

        </main>
       
    </body>
</html>