<div class="Create Users">
  <meta charset="UTF-8">
  <title> Create Users - App Ground Logistics - InnovaSoft </title>

  <body>
      <main>
          <header>
              <div class="caja">
                  <br> <br>
                  <h3> Create Users </h3>
              </div>

              <body>
                  <div class="caja2">
                      <form action="">
                          <fieldset>
                              <legend for="identification"> Identification: </legend>
                              <input type="identification" id="identification" class="input-padron" required
                                  placeholder="### ### ####">
                          </fieldset>

                          <br> <label for="name"> Name(s): </label>
                          <input type="name" id="name" class="input-padron" required placeholder="Text - Name(s)">
                          <label for="lastName"> Last Name(s): </label>
                          <input type="lastName" id="lastName" class="input-padron" required
                              placeholder="Text - Name Last Name(s)">

                          <label for="phoneNumber"> Celular Phone: </label>
                          <input type="phoneNumber" id="phoneNumber" class="input-padron" required
                              placeholder="(+ ###)  ### ### ####">

                          <legend for="emailAddress"> e-mail Address (e-mail): </legend>
                          <input type="emailAddress" id="emailAddress" class="input-padron" required
                              placeholder="email@dominio.com">

                          <legend for="password"> Password: </legend>
                          <input type="passw" id="password" class="input-padron"
                              placeholder="8 Charathers - ********">

                          <br> <label for="orderId"> Order Id: </label>
                          <input type="orderId" id="orderId" class="input-padron" required
                              placeholder="String - #*#*#*#*#*#*#*#*#*#">
                          <fieldset>
                              <legend for="perfil"> Perfil: </legend>
                              <input type="perfil" id="perfil" class="input-padron" required
                                  placeholder="String - Text List">
                              <label for="radio-administrator"> <input type="radio" name="administrator"
                                      value="administrator" id="radio-administrator"> Administrator </label>
                              <label for="radio-driver"> <input type="radio" name="driver" value="driver"
                                      id="radio-driver"> Driver </label>
                          </fieldset>

                          <input type="submit" value=" Enviar Información  " class="enviar">
                      </form>

                      <table>
                          <thead>
                              <tr>
                                  <th>Actualizar 1</th>
                                  <th>Borrar 1</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Acualizar 2</td>
                                  <td>Borrar 2</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </body>

          </header>
      </main>
  </body>
