.fondo{
    background-color: #00bcd4
}

body{
    padding: 0,7%;
}

label {
    font-size: 21px;
    color: orange;
}

.errorValidacion label{
    color: red;
    font-size: 15px; text-align: center;
    font-weight: bold; /* negrita */

  }
