
.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
body
{
font-family: "Open Sans";
}
#wrapper
{
border: 1px solid #888;
display: inline-block;
padding:20px;

}
label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: .9rem;
  padding: 2px 5px;
}
p,
label {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.order-form-input {
  width: 100%;
  padding: 8px 8px;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 3px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  background-color: transparent;
  border-color: #cccccc;
}

.btn-submit:hover {
  background-color: #090909 !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
