<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <section>
        <div class="form-container">
            <h1>login form</h1>
            <form [formGroup]="formularioLogin" action="#">
                <div class="control">
                    <label for="user">User Name</label>
                    <input formControlName= "user" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="name" id="user" placeholder="Enter username" required>
                </div>
                <div class="control">
                    <label for="psw">Password</label>
                    <input formControlName= "password" type="password" name="psw" id="psw" placeholder="Enter password" required>
                </div>

                <div class="center">
                    <button (click)="Login()" class="btn waves-effect green lighten-2" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                           <!--
                Se agrega captcha
              -->
              <div class="container">
                <br>
                <form [formGroup]="formularioLogin">
                  <ngx-recaptcha2 #captchaElem
                    [siteKey]="siteKey"
                    formControlName="recaptcha">
                  </ngx-recaptcha2>
                </form>
              </div>

                <p> Password recovery: </p>  <a routerLink="../../security/recovery">   Here </a>

            </form>


        </div>
    </section>
</body>
</html>
