<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login - Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <section>
        <div class="form-container">
            <h1>login form</h1>
            <form [formGroup]="formularioLogin" action="#">
                <div class="control">
                    <label for="user"> User Name </label>
                    <input formControlName="user" type="text" name="name" id="user" placeholder="Enter username"
                        required>
                </div>
                <div class="control">
                    <label for="psw">Password</label>
                    <input formControlName="password" type="password" name="psw" id="psw" placeholder="Enter password"
                        required>
                </div>
                <span><input type="checkbox"> Remember me. </span>
                <!--
                <div class="control">
                    <input type="submit" value="Login">
                </div>
                -->
                <div class="center">
                    <button (click)=" Login() " class="btn waves-effect green lighten-2" type="submit" name="action">Login
                        <i class="material-icons right"> send</i>
                    </button>
                </div>
                <p> Recover Password: <a routerLink="/security/recovery"> Here </a>
                <p> Change Password: <a routerLink="/change-password"> Here </a>
            </form>
        </div>
    </section>
</body>

</html>
